<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="source/bootstrap-3.3.6-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="source/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="style/slider.css">
    <link rel="stylesheet" type="text/css" href="style/mystyle.css">
    <!-- Header -->
    <!-- Header -->

    
    <title>Online Shop</title>
</head>

    <div class="container">
        {{#if success_msg}}
  <div class="alert alert-success">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger">{{error_msg}}</div>
{{/if}}
        {{{body}}}
    </div>

    

</html>