<body>
	
    <!-- Header -->
    <div class="allcontain">
        <div class="header">
            <ul class="socialicon">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
            <ul class="givusacall">
                <li>Give us a call : +0000000 </li>
            </ul>
            <ul class="logreg">
                <li><a href="#">Sign In </a> </li>
                <li><a href="#"><span class="register">Sign Up</span></a></li>
            </ul>
        </div>
        <!-- Navbar Up -->
        <nav class="topnavbar navbar-default topnav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
					<span class="sr-only"> Toggle navigaion</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                    <a class="navbar-brand logo" href="#"><img src="image/logo1.png" alt="logo"></a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="upmenu">
                <ul class="nav navbar-nav" id="navbarontop">
                    <li class="active"><a href="#">HOME</a> </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIES <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdowncostume">
                            <li><a href="#">Blank</a></li>
                            <li><a href="#">Blank</a></li>
                            <li><a href="#">Blank</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="contact.html">CONTACT</a>

                    </li>
                    <button><a href="/userprofile"><span class="postnewcar">POST NEW PRODUCT</span></a></button>
                </ul>
            </div>
        </nav>
    </div>
    <!--_______________________________________ Carousel__________________________________ -->
    <div class="allcontain">
        <div id="carousel-up" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner " role="listbox">
                <div class="item active">
                    <img src="image/benz.jpg" alt="benz">
                    <div class="carousel-caption">
                        <h2>THE FRESH BUNDLE.</h2>
                        <p>Push™ Truly Wireless Earbuds with Water bottle Feel Fresh anytime, anywhere.<br> The Skullcandy custom water bottle is a 21 oz stainless steel bottle with a rubber strap for portability.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="image/porche.jpg" alt="porche">
                    <div class="carousel-caption">
                        <h2>RAZER PHONE</h2>
                        <p>IF IT’S NOT 120Hz, IT’S NOT A GAMING PHONE<br> We set the standard in mobile gaming with the Razer Phone: the world's first 120Hz screen on a mobile phone.<br> Powered by UltraMotion™ technology and accurate touch response, you
                            get zero lag or stutter,<br> just fluid, buttery smooth motion for all your games. </p>
                    </div>
                </div>
                <div class="item">
                    <img src="image/oldcar.jpg" alt="oldcar">

                    <div class="carousel-caption">
                        <h2>THE KD11.</h2>
                        <p>
                            BUILT FOR A PLUSH AND BOUNCY RIDE. KD's fixation on being the best meant sacrificing everything. But his latest shoe sacrifices nothing with its full-length Nike Zoom Air cushioning lodged inside ridiculously responsive Nike React foam.
                        </p>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-default midle-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed textcostume" data-toggle="collapse" data-target="#navbarmidle" aria-expanded="false">
						<h1>SEARCH TEXT</h1>
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                </div>
                <div class="collapse navbar-collapse" id="navbarmidle">
                    <div class="searchtxt">
                        <h1>SEARCH TEXT</h1>
                    </div>
                    <form class="navbar-form navbar-left searchformmargin" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control searchform" placeholder="Enter Keyword">
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbarborder">
                        <li class="li-category">
                            <a class="btn  dropdown-toggle btn-costume" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Category<span class="glyphicon glyphicon-chevron-down downicon"></span></a>
                            <ul class="dropdown-menu" id="mydd">
                                <li><a href="#">Blank</a></li>
                                <li><a href="#">Blank</a></li>
                                <li><a href="#">Blank</a></li>
                            </ul>
                        </li>
                        <li class="li-minyear"><a class="btn  dropdown-toggle btn-costume" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Min Price <span class="glyphicon glyphicon-chevron-down downicon"></span></a>
                            <ul class="dropdown-menu" id="mydd2">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                            </ul>
                        </li>
                        <li class="li-maxyear"><a class="btn dropdown-toggle btn-costume" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Max Price <span class="glyphicon glyphicon-chevron-down downicon"></span></a>
                            <ul class="dropdown-menu" id="mydd3">
                                <li><a href="#">00</a></li>
                                <li><a href="#">00</a></li>
                                <li><a href="#">00</a></li>
                            </ul>
                        </li>
                        <li class="li-slideprice">
                            <p> <label class="slidertxt" for="amount">Price </label>
                                <input class="priceslider" type="text" id="amount" readonly="readonly">
                            </p>
                            <div id="slider-range"></div>

                        </li>
                        <li class="li-search"> <button class="searchbutton"><span class="glyphicon glyphicon-search "></span></button></li>
                    </ul>

                </div>
            </nav>
        </div>
    </div>
    <!-- ____________________Featured Section ______________________________-->
    <div class="allcontain">
        <div class="feturedsection">
            <h1 class="text-center"><span class="bdots">&bullet;</span>F E A T U R E D<span class="carstxt">P R O D U C T S</span>&bullet;</h1>
        </div>
        <div class="feturedimage">
            <div class="row firstrow">
                <div class="col-lg-6 costumcol colborder1">
                    <div class="row costumrow">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img1colon">
                            <img src="image/featurporch.jpg" alt="porsche">
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
                            <div class="featurecontant">
                                <h1>JIB+ WIRELESS EARBUDS</h1>
                                <p>Only Skullcandy headphones are custom-tuned<br> to deliver music you can feel.<br> From the lyrics in your soul<br> to the bass in your bones."</p>
                                <h2>Price 50&dollar;</h2>
                                <button id="btnRM" onclick="rmtxt()">READ MORE</button>
                                <div id="readmore">
                                    <h1>Car Name</h1>
                                    <p>Bluetooth® Wireless Technology 6 Hours<br> of Battery Life Splash Resistant,<br>Microphone Call, Track,<br> and Volume Control,Activate Assistant
                                    </p>
                                    <button id="btnRL">READ LESS</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 costumcol colborder2">
                    <div class="row costumrow">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img2colon">
                            <img src="image/featurporch1.jpg" alt="porsche1">
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
                            <div class="featurecontant">
                                <h1>PUSH™ WIRELESS EARBUDS</h1>
                                <p>"Forget what you thought you knew about how wireless earbuds should look and feel ,<br> . Push™ is changing the game with bold color"</p>
                                <h2>Price 170&dollar;</h2>
                                <button id="btnRM2">READ MORE</button>
                                <div id="readmore2">
                                    <h1>PUSH™ WIRELESS EARBUDS</h1>
                                    <p>Water Resistant,Bluetooth® Wireless <br> Technology, Activate Assistant, Call,<br> Track  Microphone and <br> Volume Control</p>
                                    <button id="btnRL2">READ LESS</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ________________________LATEST CARS SECTION _______________________-->
        <div class="latestcars">
            <h1 class="text-center">&bullet; LATEST PRODUCTS &bullet;</h1>
            <ul class="nav nav-tabs navbar-left latest-navleft">
                <li role="presentation" class="li-sortby"><span class="sortby">SORT BY: </span></li>
                <li data-filter=".RECENT" role="presentation"><a href="#mostrecent" class="prcBtnR">MOST RECENT </a></li>
                <li data-filter=".POPULAR" role="presentation"><a href="#mostpopular" class="prcBtnR">MOST POPULAR </a></li>
                <li role="presentation"><a href="#" class="alphSort">ALPHABETICAL </a></li>
                <li data-filter=".HPRICE" role="presentation"><a href="#" class="prcBtnH">HIGHEST PRICE </a></li>
                <li data-filter=".LPRICE" role="presentation"><a href="#" class="prcBtnL">LOWEST  PRICE </a></li>
                <li id="hideonmobile">
            </ul>
        </div>
        <br>
        <br>
        <!-- ________________________Latest Cars Image Thumbnail________________-->
        <div class="grid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="txthover">
                        <img src="image/car1.jpg" alt="car1">
                        <div class="txtcontent">
                            <div class="stars">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                            <div class="simpletxt">
                                <h3 class="name">NIKE KD11</h3>
                                <p>"Nike Footwear Designer Leo Chang has dedicated 11 years to creating basketball shoes for Kevin Durant, making tweaks everyseason for the evolving nuances of KD’s versatile, unpredictable game." </p>
                                <h4 class="price">300 &dollar;</h4>

                                <form action="/users/charge" method="POST">
                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_pbX7aDjl21mKd4qkol3jpJnW00mkM794Ap" data-amount="300" data-name="NIKE KD11" data-image="/img/marketplace.png" data-locale="auto">
                                    </script>

                                </form>
                                <br>
                                <div class="wishtxt">
                                    <p class="paragraph1"> Add to Wishlist <span class="glyphicon glyphicon-heart"></span> </p>
                                    <p class="paragraph2">Compare <span class="icon"><img src="image/compicon.png" alt="compicon"></span></p>
                                </div>
                            </div>
                            <div class="stars2">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                    <div class="txthover">
                        <img src="image/car2.jpg" alt="car2">
                        <div class="txtcontent">
                            <div class="stars">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                            <div class="simpletxt">
                                <h3 class="name">Microsoft Surface Pro 6</h3>
                                <p>"CPU: 5th-Generation Intel Core i5-i7 | Graphics: Intel UHD Graphics 620 | RAM: 8-16GB | Screen: 12.3-inch, 2,736 x 1,824 PixelSense display,<br> Storage: 128GB-1TB SSD." </p>
                                <h4 class="price">720 &dollar;</h4>

                                <form action="/users/charge" method="POST">
                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_pbX7aDjl21mKd4qkol3jpJnW00mkM794Ap" data-amount="720" data-name="Microsoft Surface Pro 6" data-image="/img/marketplace.png" data-locale="auto">
                                    </script>

                                </form>
                                <br>
                                <div class="wishtxt">
                                    <p class="paragraph1"> Add to Wishlist <span class="glyphicon glyphicon-heart"></span> </p>
                                    <p class="paragraph2">Compare <span class="icon"><img src="image/compicon.png" alt="compicon"></span></p>
                                </div>
                            </div>
                            <div class="stars2">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="txthover">
                        <img src="image/car3.jpg" alt="car3">
                        <div class="txtcontent">
                            <div class="stars">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                            <div class="simpletxt">
                                <h3 class="name">Projects Watches Past, Present & Future Watch</h3>
                                <p>"Design by computer graphics pioneer Daniel Will-Harris. At once coolly minimal and warmly conceptual, the Past, Present & Future watch is a meditation on time." </p>
                                <h4 class="price">135 &dollar;</h4>

                                <form action="/users/charge" method="POST">
                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_pbX7aDjl21mKd4qkol3jpJnW00mkM794Ap" data-amount="135" data-name="Projects Watches Past, Present & Future Watch " data-image="/img/marketplace.png" data-locale="auto">
                                    </script>

                                </form>
                                <br>
                                <div class="wishtxt">
                                    <p class="paragraph1"> Add to Wishlist <span class="glyphicon glyphicon-heart"></span> </p>
                                    <p class="paragraph2">Compare <span class="icon"><img src="image/compicon.png" alt="compicon"></span></p>
                                </div>
                            </div>
                            <div class="stars2">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="txthover">
                        <img src="image/car4.jpg" alt="car4">
                        <div class="txtcontent">
                            <div class="stars">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                            <div class="simpletxt">
                                <h3 class="name">OXELO MID500 MONKEY SKATEBOARD</h3>
                                <p>7 Ply, glued laminated timber skateboard. Aluminium trucks. 31 x 7.75" deck, medium concave shape for learning tricks. ABEC5 bearings and 92a wheels. " </p>
                                <h4 class="price">30 &dollar;</h4>

                                <form action="/users/charge" method="POST">
                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_pbX7aDjl21mKd4qkol3jpJnW00mkM794Ap" data-amount="30" data-name="OXELO MID500 MONKEY SKATEBOARD" data-image="/img/marketplace.png" data-locale="auto">
                                    </script>

                                </form>
                                <br>
                                <div class="wishtxt">
                                    <p class="paragraph1"> Add to Wishlist <span class="glyphicon glyphicon-heart"></span> </p>
                                    <p class="paragraph2">Compare <span class="icon"><img src="image/compicon.png" alt="compicon"></span></p>
                                </div>
                            </div>
                            <div class="stars2">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="txthover">
                        <img src="image/car5.jpg" alt="car5">
                        <div class="txtcontent">
                            <div class="stars">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                            <div class="simpletxt">
                                <h3 class="name">Custom Xbox One S Controller - Overwatch Roadhog</h3>
                                <p>"This Xbox One S controller features a custom painted Overwatch Roadhog color scheme. The airbrush work is protected with highest grade automotive clear!" </p>
                                <h4 class="price">182 &dollar;</h4>

                                <form action="/users/charge" method="POST">
                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_pbX7aDjl21mKd4qkol3jpJnW00mkM794Ap" data-amount="182" data-name="Custom Xbox One S Controller - Overwatch Roadhog" data-image="/img/marketplace.png" data-locale="auto">
                                    </script>

                                </form>
                                <br>
                                <div class="wishtxt">
                                    <p class="paragraph1"> Add to Wishlist <span class="glyphicon glyphicon-heart"></span> </p>
                                    <p class="paragraph2">Compare <span class="icon"><img src="image/compicon.png" alt="compicon"></span></p>
                                </div>
                            </div>
                            <div class="stars2">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="txthover">
                        <img src="image/car6.jpg" alt="car6">
                        <div class="txtcontent">
                            <div class="stars">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                            <div class="simpletxt">
                                <h3 class="name"> iPhone X🅁</h3>
                                <p>"Weight: 194g. Dimensions: 150.9 x 75.7 x 8.3mm. OS: iOS 12. Screen size: 6.1-inch. Resolution: 1792 x 828. CPU: A12 Bionic. Storage: 64/128/256. Rear camera: 12MP." </p>
                                <h4 class="price">799 &dollar;</h4>

                                <form action="/users/charge" method="POST">
                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_pbX7aDjl21mKd4qkol3jpJnW00mkM794Ap" data-amount="799" data-name=" iPhone X🅁" data-image="/img/marketplace.png" data-locale="auto">
                                    </script>

                                </form>
                                <br>
                                <div class="wishtxt">
                                    <p class="paragraph1"> Add to Wishlist <span class="glyphicon glyphicon-heart"></span> </p>
                                    <p class="paragraph2">Compare <span class="icon"><img src="image/compicon.png" alt="compicon"></span></p>
                                </div>
                            </div>
                            <div class="stars2">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="txthover">
                        <img src="image/car7.jpg" alt="car7">
                        <div class="txtcontent">
                            <div class="stars">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                            <div class="simpletxt">
                                <h3 class="name">Nike SB Zoom Stefan Janoski Canvas Premium</h3>
                                <p>"The Nike SB Zoom Stefan Janoski Canvas Premium Men's Skateboarding Shoe delivers exceptional cushioning, boardfeel and grip thanks to a Nike Zoom Air unit."
                                </p>
                                <h4 class="price">79 &dollar;</h4>
                                <form action="/users/charge" method="POST">
                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_pbX7aDjl21mKd4qkol3jpJnW00mkM794Ap" data-amount="79" data-name="MERCURIAL SUPERFLY 360 CR7" data-image="/img/marketplace.png" data-locale="auto">
                                    </script>

                                </form>
                                <br>
                                <div class="wishtxt">
                                    <p class="paragraph1"> Add to Wishlist <span class="glyphicon glyphicon-heart"></span> </p>
                                    <p class="paragraph2">Compare <span class="icon"><img src="image/compicon.png" alt="compicon"></span></p>
                                </div>
                            </div>
                            <div class="stars2">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="txthover">
                        <img src="image/car8.jpg" alt="car8">
                        <div class="txtcontent">
                            <div class="stars">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                            <div class="simpletxt">
                                <h3 class="name">Every Gamer's Dream</h3>
                                <p>"CPU. Intel Core i7-8700K. GPU. NVIDIA GeForce RTX 2080 Ti FE. Mainboard. ASUS ROG Maximus X Formula. Memory. G.SKILL TridentZ RGB Series 32GB. SSD. Samsung 960 PRO 2TB." </p>
                                <h4 class="price">2000 &dollar;</h4>

                                <form action="/users/charge" method="POST">
                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_pbX7aDjl21mKd4qkol3jpJnW00mkM794Ap" data-amount="2000" data-name="Every Gamer Dream" data-image="/img/marketplace.png" data-locale="auto">
                                    </script>

                                </form><br>
                                <div class="wishtxt">
                                    <p class="paragraph1"> Add to Wishlist <span class="glyphicon glyphicon-heart"></span> </p>
                                    <p class="paragraph2">Compare <span class="icon"><img src="image/compicon.png" alt="compicon"></span></p>
                                </div>
                            </div>
                            <div class="stars2">
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                                <div class="glyphicon glyphicon-star"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- _______________________________News Letter ____________________-->
        <div class="newslettercontent">
            <div class="leftside">
                <img src="image/border.png" alt="border">
                <h1>NEWSLETTER</h1>
                <p>We are here to provide you best service. <br> We hope you have enjoyed your shopping. <br> Suscribe for bew product OR discount update.</p>
            </div>
            <div class="rightside">
                <img class="newsimage" src="image/newsletter.jpg" alt="newsletter">
                <input type="text" class="form-control" id="subemail" placeholder="EMAIL">
                <button>SUBSCRIBE</button>
            </div>
        </div>
        <!-- ______________________________________________________Bottom Menu ______________________________-->
        <div class="bottommenu">
            <div class="bottomlogo">
                <span class="dotlogo">&bullet;</span><img src="image/collectionlogo1.png" alt="logo1"><span class="dotlogo">&bullet;;</span>
            </div>
            <ul class="nav nav-tabs bottomlinks">
                <li role="presentation"><a href="#/" role="button">ABOUT US</a></li>
                <li role="presentation"><a href="#/">CATEGORIES</a></li>
                <li role="presentation"><a href="#/">PREORDERS</a></li>
                <li role="presentation"><a href="#/">CONTACT US</a></li>
                <li role="presentation"><a href="#/">RECEIVE OUR NEWSLETTER</a></li>
            </ul>
            <p>“If you only face forward, there is something you will miss seeing.”<br> Vash the Stampede (Trigun) </p>
            <img src="image/line.png" alt="line"> <br>
            <div class="bottomsocial">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
            </div>
            <div class="footer">
                <div class="copyright">
                    &copy; 2019 | <a href="#">Privacy </a>| <a href="#">Policy</a>
                </div>
                <div class="atisda">
                    Designed by <a href="https://www.facebook.com/msadman">SADMAN </a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="source/bootstrap-3.3.6-dist/js/jquery.js"></script>
    <script type="text/javascript" src="source/js/isotope.js"></script>
    <script type="text/javascript" src="source/js/myscript.js"></script>
    <script type="text/javascript" src="source/bootstrap-3.3.6-dist/js/jquery.1.11.js"></script>
    <script type="text/javascript" src="source/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
</body>