



    <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            
            background-color: rgb(2, 12, 20);
        }
    </style>
     <body>
   
        <section class="py-5">
            <h1 class="text-info">
                Thank You {{ user.name }}  For Shopping Here... 
            </h1>
                <p class="text-danger">Hope You Had Fun.</p>
                <a href="/userprofile" class="btn btn-outline-warning">Go Back To Your Profile</a>
                <a class="btn btn-outline-info"" href="https://www.youtube.com/watch?v=2O5euYPzcrY">Click To Get Your Gift ..have fun</a>

                <a href="/users/logout" class="btn btn-outline-danger">LOGOUT</a>
        </section>

        <div class="thumbnail">
            <img src="https://media2.giphy.com/media/xT9IgkKL1SJVxzJSEg/giphy.gif" alt="..." class="img-responsive">
            </div>
 </body>